<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.addcn.yin_pay">

    <application>
        <activity
            android:name="com.addcn.yin_pay.ali.AlipayWapActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />


        <activity
            android:name="com.addcn.yin_pay.wx.WXApiActivity"
            android:exported="true"
            android:launchMode="singleInstance" />


        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:targetActivity="com.addcn.yin_pay.wx.WXApiActivity"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:targetActivity="com.addcn.yin_pay.wx.WXApiActivity"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
